img {
	display: block;
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 25px;
}

#search {
	display: block;
	margin: auto;
		border: 3px solid green;	
	padding: 25px;
}

#navbar {
	color: red;
	border: 3px solid green;
	padding: 10px;
}